.card {
	background-color: #fbfbfb;
	max-width: 258px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px;
	border-radius: 5px;
}

.imgCont {
	padding: 1em;
	border-radius: 6px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.textCont {
	min-width: 88px;
}

.card h2 {
	font-weight: bold;
	font-size: 20px;
	color: #282d30;
	line-height: 24px;
}

.card span {
	font-size: 14px;
	font-weight: bold;
	color: #74798c;
	line-height: 24px;
}
