@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

:root {
	--prim-clr: #e60000;
	--sec-clr: #020203;
	--primalet: #ff0101;
}

.navBar {
	background-color: var(--sec-clr);
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 17px 1.5%;
}

.navBar ul {
	list-style-type: none;
	padding: 0 5px;
	display: flex;
	width: 69%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.navBar a {
	color: white;
	text-decoration: none;
	font-size: 22px;
}

.navBar-left {
	background-color: var(--sec-clr);
	width: 8.125%;
	position: absolute;
	min-height: 120%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}

.navBar-left span {
	width: 190px;
	display: block;
	transform: rotateZ(-90deg);
	font-size: 12px;
	position: relative;
	top: 3em;
}

.navBar-left ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 316px;
	margin-top: 16vh;
}

.container {
	padding-left: 11%;
}

.pageContainer {
	display: grid;
	grid-template-areas:
		'header header header header'
		'poids poids poids grlInfo'
		'dureSession radar kpi grlInfo';
	grid-template-rows: 20vh 40vh 30vh;
	grid-template-columns: 24.5% 24.5% 24.5% 20%;
	gap: 2%;
}

.header {
	grid-area: header;
}

.barChart {
	grid-area: poids;
}

.lineChart {
	grid-area: dureSession;
	margin-top: 20px;
	background-color: #ff0000;
	box-shadow: 0 2px 4px #0000001f;
	border-radius: 5px;
	height: 100%;
	position: relative;
}

.radarChart {
	grid-area: radar;
	margin-top: 20px;
	background-color: #282d30;
	box-shadow: 0 2px 4px #0000001f;
	border-radius: 5px;
	height: 100%;
}

.radialChart {
	grid-area: kpi;
	margin-top: 20px;
	background-color: #fbfbfb;
	height: 100%;
	padding: 27px;
	box-shadow: 0 2px 4px #0000001f;
	border-radius: 5px;
	position: relative;
}

.cardsContainer {
	height: 613px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-area: grlInfo;
}
